<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}"> <!-- Link to the external CSS file -->
</head>
<body>
    <h1>Car Comparison</h1>

    <div class="comparison-results">
        {% for car in comparison_results %}
            <div class="car-card">
                <h2>{{ car['Make'] }} {{ car['Model'] }}</h2>
                <p class="attribute">Combined Mpg For Fuel Type1:</p>
                <p>{{ car.get('Combined Mpg For Fuel Type1', '') }}</p>
                <p class="attribute">Cylinders:</p>
                <p>{{ car.get('Cylinders', '') }}</p>
                <p class="attribute">Engine Displacement:</p>
                <p>{{ car.get('Engine displacement', '') }}</p>
                <p class="attribute">Drive:</p>
                <p>{{ car.get('Drive', '') }}</p>
                <p class="attribute">Fuel Type1:</p>
                <p>{{ car.get('Fuel Type1', '') }}</p>
                <p class="attribute">Annual Fuel Cost For Fuel Type1:</p>
                <p>{{ car.get('Annual Fuel Cost For Fuel Type1', '') }}</p>
            </div>
        {% endfor %}
    </div>

    <a href="/">Go Back</a>
</body>
</html>


